*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    max-width: 85%;
    width: 80%;
    margin: auto;
}
/* Navbar */
nav{
    width: 100%;
    padding: 16px 0px;
    position: absolute;
    background: rgb(104, 4, 4);
    border-bottom: 3px solid red;
    z-index: 99;
}
nav a{
    color: lightgray;
    text-decoration: none;
}
nav .navlogo{
    font-weight: 900;
    font-size: 1.5rem;
    padding-right: 20px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
nav>.wrapper{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
}
nav a:hover{
    color: white;
}

/* Create */

#create{
    background: rgb(64, 62, 62);
    
}
#create .wrapper{
    
    padding-top: 20vh;
    min-height: 100vh;
    text-align: center;
    color: whitesmoke;
    font-size: xx-large;
    
    
}
#input-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px black solid;
    padding: 1%;
}
#input-form-container>form{
    display: flex;
    
    align-items: center;
    gap: 20px;
}
#long-url-input-field{
    width: 700px;
    border: none;
    height: 7vh;
    border-radius: 8px;
    

}
