*{
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --sotet-voros: #c02d28;
    --vilagos-voros: #ff0d05;
    --gray-darker: #222;
    --gray-light: #aaa;
    --gray-mid: #8a8a8a;
    --gray-middarker: #666;
    --gray-lighter: #ccc;
    --gray-middark: #757575;
    --gray-dark: #3e3e3e;
}

body{
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    max-width: 85%;
    width: 80%;
    margin: auto;
}
/* Navbar */
nav{
    width: 100%;
    padding: 16px 0px;
    position: absolute;
    background: var(--sotet-voros);
    border-bottom: 3px solid var(--vilagos-voros);
    z-index: 99;
}
nav a{
    color: lightgray;
    text-decoration: none;
}
nav .navlogo{
    font-weight: 900;
    font-size: 1.5rem;
    padding-right: 20px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
nav>.wrapper{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
}
nav a:hover{
    color: white;
}

/* Create */

#create{
    background: var(--gray-darker);
    
}
#create .wrapper{
    
    padding-top: 20vh;
    min-height: 100vh;
    text-align: center;
    color: var(--gray-lighter);
    font-size: xx-large;
    
    
}
#input-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px black solid;
    padding: 1%;
}
#input-form-container>form{
    display: flex;
    
    align-items: center;
    gap: 20px;
}
#long-url-input-field{
    width: 700px;
    border: none;
    height: 7vh;
    border-radius: 40px;
    font-size: 18px;
    background-color: var(--gray-dark);
    padding-left: 10px;
    color: var(--gray-mid);
    

}
#submit-create{
    border: none;
    height: 7vh;
    width: 15%;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    background-color: var(--sotet-voros);
    cursor: pointer;
}
#submit-create:hover{
    color: var(--gray-lighter);
}

